@{
    ViewData["Title"] = "Home Page Test";
}

<div class="text-center">
    <h1 class="display-4">Conway's Game of Life</h1>
    <h2>An implementation by Kit Koeneman</h2>
    <p>If you've never heard of this, check out https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life</p>
</div>

<div>
    <h2>Parameters</h2>
    


    <form asp-action="FillBoard">
        <input type="text" name="Height" required="required"/>
        <input type="text" name="Width" required="required" />
        <input type="submit" value="FillBoard" class="btn btn-primary"/>
    </form>
</div>
