@model conway.Models.GameBoard

@{
    ViewData["Title"] = "Home Page Test";
}

<div class="text-center">
    <h1 class="display-4">Conway's Game of Life</h1>
    <h2>An implementation by Kit Koeneman</h2>
    <p>If you've never heard of this, check out https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life</p>
</div>

<div>
    <h2>Parameters</h2>
    
    <form method="post" asp-controller="GameBoard" asp-action="FillBoard">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label class="form-label">Height</label>
            <input type="text" class="form-control" asp-for="Height"/>
            <div class="form-text">Number from 10 to 100</div>
        </div>
        <div>
            <label class="form-label">Width</label>
            <input type="text" class="form-control" asp-for="Width">
            <div class="form-text">Number from 10 to 100</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
