@model conway.Models.GameBoard

@{
    ViewData["Title"] = "Home Page Test";
}

<div class="text-center">
    <h1 class="display-4">Conway's Game of Life</h1>
    <h2>An implementation by Kit Koeneman</h2>
    <p>If you've never heard of this, check out https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life</p>
</div>

<div>
    <h2>Parameters</h2>
    
    <form method="post" asp-controller="GameBoard" asp-action="FillBoard">
        <div>
            <label class="form-label">Height</label>
            <input type="text" class="form-control" asp-for="Height"/>
            <span asp-validation-for="Height" class="text-danger" />
        </div>
        <div>
            <label class="form-label">Width</label>
            <input type="text" class="form-control" asp-for="Width">
            <span asp-validation-for="Width" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!--
    <form method="post" action="FillBoard">
        <input type="text" name="Height" asp-for="Height"/>
        <input type="text" name="Width" asp-for="Width" />
        <input type="submit" value="FillBoard" class="btn btn-primary"/>
    </form>-->
</div>
