@page
@model Conway.Pages.CreateGameBoardModel
@{
}

<h1>Create your game</h1>

<form method="post">
        <input type="number" asp-for="GameBoard.Height" placeholder="Height (10-100)" />
        <input type="number" asp-for="GameBoard.Width" placeholder="Width (10-100)" />
        <button type="submit">Create board</button>
</form>

<!--
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Height" class="control-label"></label>
        <input asp-for="Height" class="form-control" />
        <span asp-validation-for="Height" class="text-danger"></span>
    </div>
    <div />
    <div class="form-group">
        <label asp-for="Width" class="control-label"></label>
        <input asp-for="Width" class="form-control" />
        <span asp-validation-for="Width" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>-->