@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Insert explanation here.</p>

    <p>Are you ready to start?</p>

    <form method="get">
        <button type="submit" class="btn btn-primary" asp-page="CreateGameBoard">Start</button>
    </form>

</div>
